#calculator {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    text-align: center;
}

.keyboard {
    border: 2px solid green;
    border-radius: 25px;
    margin: 0 auto;
    max-width: 600px;
}

#total {
    padding: 30px;
}

.result {
    background: #e0e0e0;
    font-size: 2rem;
    height: 70px;
    margin: 0 auto;
    max-width: 500px;
    padding: 15px 15px 15px 0;
    text-align: right;
}

.number-input {
    padding: 30px 0;
    font-size: 1.5rem;
    text-align: center;
    background: #e0e0e0;
    width: 25%;
    margin: 0 20px;
    border-radius: 50px;
}

.operator-input:last-of-type,
.number-input:last-of-type {
    margin-bottom: 20px;
}

.operator-input {
    padding: 30px 0;
    font-size: 1.5rem;
    text-align: center;
    background: #e0e0e0;
    width: 20%;
    margin: 0 20px;
    border-radius: 50px;
}
